.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.logo{
  height:50px;
}
.userProfileImage {
  height:50px;
  cursor: pointer;
}

.defaultImage  {
  width:auto;
  max-width:80vw;
  object-fit: cover;
  transform: scale(0.8);
  margin:1em auto;
  display: flex;
}
.cancelUpload {
  display: block;
  width:100%;
  font-size:12px;
  margin-top:1em;
  text-decoration: underline;
  cursor: pointer !important;
  position: relative;
}
.selectPhotoBtn {
  border-color: #f1c40f !important;
  color: #fff !important;
  background: #f1c40f !important;
  padding:0.8em 1em;
  cursor: pointer !important;
  border-radius:2px;
  z-index:100!important;
}

.fileInput {
  /* border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black; */
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  display: flex;
  align-self: center;
  
  height: 50vh;
  max-height:40vh;
  padding:2em;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.imagePreivew img {
    height: 40vh;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  display: flex;
  align-self: center;
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.centerText {
  text-align: center;
  width: 500px;
}

.App-header {
  background-color: #FFF;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
